<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login/login.css') }}">
</head>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<link rel="icon" href="data:;base64,=">
<body>

    <div class="mestra">
        <button class="button" style="vertical-align:middle" onclick="window.location.href = 'http://dr-freud.herokuapp.com/chatbot'"><span>Chatbot </span></button>
        
    </div>
</body>



</html>